APP_PORT=8081
POSTGRES_HOST_PORT=5434
POSTGRES_DB=db_inventario
POSTGRES_USER=postgres
POSTGRES_PASSWORD=CAMBIAR_ESTA_CLAVE_LOCAL
SPRING_PROFILES_ACTIVE=dev
DEV_JWT_SECRET=CAMBIAR_ESTA_CLAVE_LOCAL_DE_AL_MENOS_32_CARACTERES
DEV_JWT_ISSUER=http://localhost:8081/dev-issuer
DEV_JWT_TTL_SECONDS=3600
COGNITO_ISSUER_URI=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_REEMPLAZAR
COGNITO_JWK_SET_URI=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_REEMPLAZAR/.well-known/jwks.json
COGNITO_AUDIENCE=agrocenter-api
SWAGGER_ENABLED=true
JAVA_TOOL_OPTIONS=-XX:MaxRAMPercentage=75.0 -XX:+ExitOnOutOfMemoryError
